<!-- header section strats -->
<header class="header_section">
    <div class="header_top">
        <div class="container-fluid">
            <div class="top_nav_container">
                <div class="container">  
                    @using (@Html.BeginForm())
                {
                    <div class="form-group">
                        <div style="width:50%;float:left">
                            @Html.TextBox("search", null,new {@class="form-control",@placeholder="Search For"} )
                        </div>
                        <div style="float: left;">
                            <input type="submit" name="btn" value="Search" class="btn btn-info " />
                        </div>
                    </div>
                }</div>
              
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="user_option_box">

                        <a asp-controller="User" asp-action="Index" asp-route-itemid="Id" class="account-link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>
                                Account
                            </span>
                        </a>
                        <a asp-controller="Cart" asp-action="Index" class="cart-link">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>
                                Cart
                            </span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="user_option_box">

                        <a href="/Login/Login/" class="account-link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>
                                Login/Register
                            </span>
                        </a>
                        <a href="" class="cart-link">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>
                                Cart
                            </span>
                        </a>
                    </div>
                }

            </div>

        </div>
    </div>
    <div class="header_bottom">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Minics
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html"> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="why.html">Why Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="testimonial.html">Testimonial</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- end header section -->