@model CategoryVM
<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kategori Ekle</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Title">Kategori Başlığı</label>
            <input asp-for="Category.Title" class="form-control" />
            <span asp-validation-for="Category.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category.Description">Kategori Açıklaması</label>
            <input asp-for="Category.Description" class="form-control" />
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>
        
        <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">Sabit Alanlar</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label mb-1" for="switchOne">Durumu</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="switchOne" checked asp-for="Category.IsActived">
                                <label class="form-check-label" for="switchOne"></label>
                            </div>
                            <span class="text-danger" asp-validation-for="Category.IsActived"></span>
                        </div>
                        @if (ViewBag.CategoryId != null)
                        {
                            <input type="hidden" asp-for="Category.ParentId" value="@ViewBag.CategoryId" />
                        }
                    <div class="bn">
                        <button type="submit" class="btn  btn-primary">Kaydet</button>
                        @if (ViewBag.CategoryId != null)
                        {
                            <a asp-action="SubCategory" asp-route-id="@ViewBag.CategoryId" class="btn  btn-dark">Vazgeç</a>
                        }
                        else
                        {
                            <a asp-action="Index" class="btn  btn-dark">Vazgeç</a>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="150px">
            Listeye Dön
        </a>
    </div>
</form>
@section Scripts
{
@{
    <partial name="_ValidationScriptsPartial" />
}
}