@model CategoryVM
@{
    ViewData["Title"] = "Edit";

}
<form asp-action="Edit" asp-controller="Category" method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Title"></label>
            <input asp-for="Category.Title" class="form-control" />
            <input type="hidden" value="@Model.Category.Id" asp-for="Category.Id" />
            <span asp-validation-for="Category.Title" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="Category.Description"></label>
            <input asp-for="Category.Description" class="form-control" />
            <input type="hidden" value="@Model.Category.Id" asp-for="Category.Id" />
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="widht:150px">Edit</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="150px">
            Back to List
        </a>
    </div>
</form>
@section Scripts
{
@{
    <partial name="_ValidationScriptsPartial" />
}
}
